@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
a {
    color: #00BFA5;
}

body {
    background-color: #121212;
    color: #CBD2D9;
    font-family: "Roboto", sans-serif;
}

.no-underline {
    text-decoration: none;
}

.centered-header {
    text-align: center;
}
