@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
a {
    color: #000080;
}

body {
    background-color: #121212;
    color: #CBD2D9;
    font-family: "Inter", sans-serif;
}

.no-underline {
    text-decoration: none;
}

.centered-header {
    text-align: center;
}
